THEATRE_DATASOURCE_URL=jdbc:postgresql://host:5432/database?sslmode=require&currentSchema=theatre_service
THEATRE_DATASOURCE_USERNAME=your_username
THEATRE_DATASOURCE_PASSWORD=your_password
EUREKA_DEFAULT_ZONE=http://localhost:9000/eureka
